VITE_FIREBASE_API_KEY=tu_api_key_aqui
VITE_FIREBASE_AUTH_DOMAIN=crm-odontologo-app-prod.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=crm-odontologo-app-prod
VITE_FIREBASE_STORAGE_BUCKET=crm-odontologo-app-prod.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=tu_messaging_sender_id
VITE_FIREBASE_APP_ID=tu_app_id
